.none{
    display: none;
}
body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-gradient-geometric-color-double-twelve-background-material-image_271672.jpg);
    background-size: cover;
}
.red{
    color: red;
}
.green{
    color: seagreen;
}